.main {
    .main-vocab {
        max-width: 100%;
        .vocab-table-container {
            border: 1px solid $placeholder-default;
            border-radius: .75rem;
            padding: 1rem;
            .table {
                thead {
                    th {
                        border-bottom: 1px solid $pink;
                    }
                }
                tbody {
                    th {
                        &.vocab-sorter {
                            vertical-align: top;
                        }
                    }
                }
            }
        }
        .vocal-nav {
            max-width: 330px;
            .nav-pills {
                margin-bottom: 1rem;
                .nav-link {
                    border: none;
                    border-radius: .5rem;
                    margin-bottom: 1rem;
                    padding: 1.5rem 2rem;
                    font: {
                        size: 1.125rem;
                        weight: 500;
                    }
                    text-align: left;
                    line-height: 1;
                    color: $placeholder-default;
                    background-color: #f7f7f7;
                    &.active {
                        color: $white;
                        background-color: $pink;
                    }
                }
                .h_1 {
                    height: 50px;
                }
            }
        }
        .write-here {
            border: 1px solid $pink;
            border-radius: .5rem;
            margin-bottom: 1rem;
            padding: 1.5rem 2rem;
            text-align: center;
            background-color: #F7F7F7;
            .example-text {
                margin-bottom: .75rem;
                font: {
                    size: .75rem;
                }
                color: $light-blue;
            }
            .form-control {
                text-align: center;
                background-color: transparent;
            }
            .list-inline-item {
                &:not(:last-child) {
                    margin-right: 2rem;
                }
            }
        }
        // write here
        .btn-topic {
            padding: .75rem 1rem;
            font: {
                size: .9375rem;
                weight: 600;
            }
            color: $white;
            background-color: $darken-blue;
            span {
                margin-right: .75rem;
            }
            &:hover,
            &:focus,
            &:active {
                background-color: $pink;
            }
        }
        // .btn-topic
        .big-badge {
            width: 40px;
            height: 40px;
        }
        .vocal-atoz {
            .vocab-table-container {
                width: calc(100% - 30px - 1.25rem);
            }
            .table-sorter {
                width: 30px;
                text-align: center;
                padding: 1rem .25rem;
                margin-left: 1.25rem;
                background-color: #f7f8f9;
                a {
                    font: {
                        size: .9375rem;
                        weight: 500;
                    }
                    color: #B7C3D2;
                    &.active {
                        color: $pink;
                    }
                }
            }
        }
    }
}

.vocabulary-body {
    .form-group {
        span {
            min-width: 80px;
            margin-right: 1.25rem;
            font: {
                size: .9375rem;
                weight: 600;
            }
            color: $darken-blue;
        }
        &.form-group__full {
            span {
                width: 155px;
            }
            .form-control {
                width: calc(100% - 155px);
            }
        }
        &.form-group__phonetic {
            span {
                min-width: 160px;
            }
        }
        &.form-group__copy {
            span {
                min-width: 120px;
            }
        }
    }
}